extends default

block content
    div.page_content   
        h2.centered Welcome to the official website of the LCW ACM.
        img(src='/pictures/lcw_acm_logo.png').logo_centered
    div.page_content   
        h4 About us
        p
        | We are a student-run undergraduate division of the ACM, Association for Computing Machinery. The ACM is a prestigious international 
        | organization dedicated to advancing the world through computing. It is the world's largest educational and scientific computing 
        | society. As a chapter of the ACM, the computer science club at LCW regularly hosts guest speakers who are professionals in a wide
        | variety of computer science - related fields, from cybersecurity to animation. We also host fun coding events throughout the year.
        | Students of all skill levels are encouraged to attend, as you are sure to have fun and learn no matter what!